simplejson==3.16.0
apache-beam[gcp]
strict-rfc3339==0.7
google-cloud-bigquery
google-auth
google-cloud-core
google-cloud-pubsub
google-cloud-storage
google-api-python-client
dnspython>=2.6.1 # not directly required, pinned by Snyk to avoid a vulnerability
orjson>=3.9.15 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
